body{
    background-color: #e393cb;
}
h1{
    font-size: 50px;
    text-align: center;
    margin-top: 17px;

}
.a{
    height: 100px;
    width: 280px;
    margin:7px
}
p{
    text-align: center;
    font-size: 35px;
}
input{
    text-align: center;
    border-radius: 100px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: -56px;
    width: 355px;

}
select{
    border-radius: 100px;
    font-size: 30px;
    padding: 9px;
    padding-right: 8px;
}
.p1{
    margin-left: 50px;
}
header > a {
    
    width: 212px;
    height: 83px;
}
.bnt{
    margin-bottom: -400px;
    text-align: center;
    background-color: #b568d9;
    color: white;
    padding: 20px;
    border-radius: 100px;
    font-size: 20px;
    width: 255px;
    height: 58px;
}
.bng{
    margin-bottom: -400px;
    text-align: center;
    padding: 20px;
    border-radius: 100px;
    font-size: 20px;
    width: 255px;
    height: 58px;
}
#opcoes{
    margin-left: 450px;
}
.final{
    margin-left: -60px;
    display: flex;
    margin-bottom: 70px;
}